In [1]:
import pandas as pd

In [2]:
# Make a reference to the books.csv file path
csv_path = "WHO-COVID-19-global-data.csv"

# Import the books.csv file as a DataFrame
covid_df = pd.read_csv(csv_path, encoding="utf-8")
covid_df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,1/3/20,AF,Afghanistan,EMRO,0,0,0,0
1,1/4/20,AF,Afghanistan,EMRO,0,0,0,0
2,1/5/20,AF,Afghanistan,EMRO,0,0,0,0
3,1/6/20,AF,Afghanistan,EMRO,0,0,0,0
4,1/7/20,AF,Afghanistan,EMRO,0,0,0,0

In [3]:
covid_2_df = covid_df[["Date_reported", "Country", "New_cases", "Cumulative_cases",
                       "New_deaths", "Cumulative_deaths"]]
covid_2_df.head()

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,1/3/20,Afghanistan,0,0,0,0
1,1/4/20,Afghanistan,0,0,0,0
2,1/5/20,Afghanistan,0,0,0,0
3,1/6/20,Afghanistan,0,0,0,0
4,1/7/20,Afghanistan,0,0,0,0

In [5]:
covid_3_df = covid_2_df.rename(columns={'Date_reported': 'Date', 'New_cases': 'New Cases','Cumulative_cases':'Cumulative cases', 'New_deaths':'New deaths', 'Cumulative_deaths':'Cumulative deaths'})
covid_3_df.head()

,Date,Country,New Cases,Cumulative cases,New deaths,Cumulative deaths
0,1/3/20,Afghanistan,0,0,0,0
1,1/4/20,Afghanistan,0,0,0,0
2,1/5/20,Afghanistan,0,0,0,0
3,1/6/20,Afghanistan,0,0,0,0
4,1/7/20,Afghanistan,0,0,0,0

In [7]:
us_covid_df = covid_3_df.loc[(
    covid_3_df["Country"] == "United States of America")]
us_covid_df.head()

,Date,Country,New Cases,Cumulative cases,New deaths,Cumulative deaths
234136,1/3/20,United States of America,0,0,0,0
234137,1/4/20,United States of America,0,0,0,0
234138,1/5/20,United States of America,0,0,0,0
234139,1/6/20,United States of America,0,0,0,0
234140,1/7/20,United States of America,0,0,0,0

In [8]:
us_covid_df.to_csv('US_covid_2.csv', index=False)